.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color:  teal;/*#282c34;*/
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.App-header p {
  font-family: 'Prompt', sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: black;
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

.hero-container {
  background-color: gold;
  /* display: flex;
  flex-wrap: wrap; 
  margin-bottom: 100px;*/
}

.theRest {
  background-color: mediumblue;
  text-align: center;
}

.theRest ul {
  background: linear-gradient(to left,magenta,yellow, gold, lime, lime,yellow, yellow, gold,yellow,lawngreen,magenta);
  background-size: 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 1.5em;
  animation: listAnimation 10s infinite;
}

@keyframes listAnimation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

li {
  margin-left: 15%;
  text-align: left;
}

@keyframes App-logo-spin { /*how about here we put vision's face*/
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
